.cores {
  
  text-align: center;
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
}

#cores blue{
  color: blue;
  text-align: center;
  width: 150px;
  height: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}