@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* <weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name
example{
  font-family: "Roboto Condensed", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
